.advantages {
  padding: 70px 0 80px 0;
  background-color: #f6f6f6;
}
.advantages__header {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantages__subtitle {
  margin-top: 38px;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
}
.advantages__descr {
  margin-top: 26px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.advantages__descr a {
  color: red;
  text-decoration: underline;
}
.advantages__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 238px;
}
.advantages__wrapper {
  display: flex;
  margin-top: 65px;
  justify-content: space-between;
}
