.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(/src/img/consultation.jpg) center center / cover no-repeat;
}
.title {
  color: #fff;
  font-size: 36px;
  text-align: left;
}
.consultation__descr {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
