.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.header__phone {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.header__phone:hover {
  transition: 0.5s;
  color: rgba(0, 255, 217, 0.923);
  text-decoration: none;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
