.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/main.jpg) center center / cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 91px;
}
.promo__header {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 65px;
  display: flex;
  width: 425px;
  justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.promo__link {
  color: #fff;
  margin-top: 18px;
}
.promo__link a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}
